/* CSS Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --color-surface: hsl(0, 0%, 9%);

  --primary-color: hsl(1, 91%, 38%);
  --primary-color-dark: hsl(1, 91%, 30%);

  --accent-color: hsl(133, 50%, 40%);

  --color-white: hsl(0, 0%, 97%);
  --color-black: hsl(0, 0%, 0%);

  --color-gray-light: hsl(0, 0%, 50%);
  --color-gray: hsl(0, 0%, 40%);
  --color-gray-dark: hsl(0, 0%, 20%);
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-surface);
  color: var(--color-white);
  line-height: 1.5;
}

button {
  cursor: pointer;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

ul {
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
  color: var(--color-gray-light);
}

dd {
  font-size: 1.25rem;
}

h2 {
  font-size: 2rem;
  color: var(--color-gray-light);
}

h3 {
  font-size: 1.5rem;
  color: var(--color-gray-light);
}

a {
  color: inherit;
}

.max-width {
  margin: 0 auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.loading-wave {
  background: linear-gradient(to right, #555 0%, #999 50%, #555 100%);
  background-size: 200% 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  animation: loading-wave 1.5s infinite ease-in-out;
}

@keyframes loading-wave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* HEADER & Footer */
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.header__title {
  color: var(--primary-color);
  letter-spacing: 2px;
}

.header__nav .header__nav-list {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.header__nav .header__nav-list .header__nav-item {
  list-style: none;
}

.header__nav .header__nav-list .header__nav-item a {
  color: var(--color-white);
  font-size: 1.2rem;
  text-decoration: none;
}

.header__nav .header__nav-list .header__nav-item a:hover {
  text-decoration: underline;
}

.header__search {
  width: 100%;
}

.header__search-input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

.footer {
  background-color: var(--color-gray-dark);
}

.footer__content {
  padding: 2rem;
  text-align: center;
}

@media (width > 48rem) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__search {
    width: unset;
  }
}

/* HOME PAGE */

.vertical-scroll {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.vertical-scroll .vertical-scroll__title {
  color: var(--color-gray-light);
  font-size: 2rem;
}

.vertical-scroll .vertical-scroll__list {
  display: flex;
  gap: 2rem;
  list-style: none;
  overflow-x: auto;
  padding: 0;
  padding-bottom: 1rem;
}

.vertical-scroll .vertical-scroll__list::-webkit-scrollbar {
  height: 0.5rem;
}

.vertical-scroll .vertical-scroll__list::-webkit-scrollbar-track {
  background-color: var(--color-gray-dark);
  border-radius: 0.5rem;
}

.vertical-scroll .vertical-scroll__list::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 0.5rem;
}

.vertical-scroll .vertical-scroll__list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-light);
}

.vertical-scroll .vertical-scroll__list li a {
  text-decoration: none;
}

.movie-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 150px;
}

.movie-item .movie-item__title {
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
}

.movie-item .movie-item__poster:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Movie Details */
#movie {
  padding: 2rem 0;
}

#movie h3 {
  font-weight: normal;
}

#movie header {
  background-color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
}

#movie header img {
  height: 300px;
  object-fit: contain;
}

#movie #genres {
  display: flex;
  gap: 1rem;
}

#movie header {
  display: flex;
  gap: 0.825rem;
}

#movie header #actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#movie header #actions button {
  width: 180px;
  background-color: var(--accent-color);
  color: var(--color-white);
}

#movie #genres li {
  background-color: var(--color-gray-dark);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--color-white);
}

#movie #overview {
  background-color: var(--color-gray-dark);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  color: var(--color-white);
}

#movie #cast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

#movie #cast li {
  width: 270px;
  background-color: var(--color-gray-dark);
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#movie #cast p {
  color: var(--color-white);
}

#movie #cast img {
  height: 100px;
  width: 66px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#movie #trailer iframe {
  aspect-ratio: 16 / 9;
}

@media (width > 48rem) {
  #movie header {
    flex-direction: row;
  }

  #movie #trailer {
    flex: 3;
  }

  #movie header #actions {
    align-items: start;
  }
}

/* Modal Style */
dialog {
  background-color: var(--color-surface);
  color: var(--color-white);
  border: var(--primary-color-dark) solid 1px;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background: hsla(0, 0%, 0%, 0.7);
  backdrop-filter: blur(5px);
}

dialog h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

dialog p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

dialog button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

dialog button:hover {
  opacity: 0.9;
}

/* Movies Page */

#movies {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#search-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#filters {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

select {
  padding: 0.625rem;
  border: 1px solid var(--color-gray-dark);
  border-radius: 10px;
  background-color: var(--color-white);
}

#movies-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

@media (width > 48rem) {
  #search-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

#account-register,
#account-login {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6rem;
}

#account-register form,
#account-login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

#account-register form p,
#account-login form p {
  text-align: center;
}

#account-register form button,
#account-login form button {
  width: 50%;
  min-width: 180px;
  background-color: var(--primary-color);
  color: var(--color-white);
  margin: 0 auto;
}

label {
  display: block;
}

form {
  background-color: var(--color-gray-dark);
  padding: 1rem;
  border-radius: 20px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  display: block;
  padding: 10px;
  min-width: 250px;
}

#account {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#account .btn-group {
  display: flex;
  gap: 1rem;
}

#collection {
  padding: 2rem 0;
}
